html,
body {
    min-height: 100vh;
}

body {
    margin: 0 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.theme-dark {
    background-color: black;
    color: white;
}

body.theme-light {
    background-color: white;
    color: black;
}

body.theme-dark a {
    color: lightblue;
}

body.theme-light a {
    color: blue;
}

.main-container {
    min-height: 100vh;
    flex-direction: column;
}

.flex-container {
    height: 100%;
}

.main-container,
.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-spread {
    justify-content: space-between;
}

.main {
    margin: 16px 0
}

.text {
    max-width: 80ch;
}

.row {
    width: auto;
}


.clock {
    font-size: 3em;
}

input[type=text],
input[type=number],
textarea {
    display: block;
    border: 1px solid #999;
    margin: 0;
    padding: 2px;
    width: calc(100% - 2px - 2*2px);
}

input:read-only {
    background-color: #999;
}

textarea {
    height: 5rem;
}

.sep-v {
    margin-top: 2ex;
}

/* for JSON pretty print */

#json {
    min-height: 5em;
    height: auto;
    outline: none;
    white-space: pre;
    font-family: monospace;
    padding: 8px 4px;
}

.theme-light #json {
    border: 1px solid #222;
}

.theme-dark #json {
    border: 1px solid white;
    background-color: #222;
    color: white;
}

.theme-light .property {
    color: red;
}

.theme-light .number {
    color: green;
}

.theme-light .string {
    color: blue;
}

.theme-light .keyword {
    color: maroon;
}

.theme-dark .property {
    color: #9F7CDD;
}

.theme-dark .number {
    color: lightgreen;
}

.theme-dark .string {
    color: #F1759C;
}

.theme-dark .keyword {
    color: #4392F7;
}

.overflow-x-scroll {
    overflow-x: auto;
}
